<% provide(:title, "About") %>
<h1>A propos</h1>
<p>
  Le <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>, fait partie du
  <a href="https://www.learnenough.com/">Learn Enough</a> family of
  tutorials, c'est un
  <a href="https://www.railstutorial.org/book">livre</a> et
  <a href="https://screencasts.railstutorial.org/">screencast series</a>
  pour enseignier le développement web en utilisant
  <a href="https://rubyonrails.org/">Ruby on Rails</a>.
  Ceci est l'exemple d'application pour le didacticiel.
</p>
