<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contactez le créateur du "Ruby on Rails Tutorial" à propos de l'exemple d'application sur
  <a href="https://www.railstutorial.org/contact">la page de contact</a>.
</p>
