<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Obtenez de l'aide sur le dictaticiel Ruby on Rails sur la page du
  <a href="https://www.railstutorial.org/help">Tutoriel Ruby on Rails Help</a></br>
  Pour obtenir de l'aide sur cet exemple d'application, consultez le livre :
  <a href="https://www.railstutorial.org/book"><em>Tutoriel Ruby on Rails</em>
  </a>.
</p>
