<% provide(:title, 'S\'inscrire') %>
<% provide(:button_text, 'Crée mon compte') %>
<h1>S'inscrire</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
    </div>
  </div>
</div>
